front {
  display: none !important;
  color: cadetblue;
}

teiheader {
  color: cadetblue;
}
author {
  font-weight: 700;
  font-family: "Tahoma", sans-serif;
  margin-right: 1em;
  color: peru;
}
publisher {
  font-weight: 700;
}

div[type="content"] {
  margin-top: 2em;
  margin-bottom: 2em;
  /* padding: 1em; */
  /* border: 1px solid #ddd; */
  background-color: #f9f9f9;
  overflow-y: scroll;
}
div[type="chapter"] {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

p {
  text-align: left;
  font-size: normal;
  font-weight: normal;
}
